@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  display: block;
}

/* Ensure smooth transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
